<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 class="col-md-4">Register new Person</h4>
<div class="col-6">
    <form action="#" th:action="@{/persons/create/}" th:object="${person}" method="post">

        <div class="form-group">
            <label for="PID">PID</label>
            <input class="form-control" type="text" th:field="${person.PID}" placeholder="PID" id="PID">
            <span class="text-danger" th:if="${#fields.hasErrors('PID')}" th:errors="${person.PID}">PID Error</span>
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" th:field="${person.firstName}" placeholder="First Name" id="firstName">
            <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="${person.firstName}">First Name Error</span>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" th:field="${person.lastName}" placeholder="Last Name" id="lastName">
            <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="${person.lastName}">Last Name Error</span>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date Of Birth</label>
            <input class="form-control" type="date" th:field="${person.dateOfBirth}" id="dateOfBirth">
            <span class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                  th:errors="${person.dateOfBirth}">DoB Error</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Person</button>


    </form>
</div>
</body>
</html>