<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>Car Service</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css"
          integrity="sha256-wTKA5590EJxeOFSCLA8Mly0KVyRclbCzdi+XiL2Rj40=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>


    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<header th:fragment="header">
    <h1>
        <a class="d-flex justify-content-center" href="/">Car Service</a>
    </h1>


    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-fancybox data-animation-duration="700" data-src="#CarService"
                       href="javascript:;">Car Service</a>

                    <div style="display: none;" id="CarService" class="animated-modal">
                        <h2>Select Option for Car Services</h2>
                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/carServices">List of Services</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light" sec:authorize="hasAuthority('ADMIN')">
                            <a class="navbar-brand" href="/carServices/createCarService">Create CarService</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light" >
                            <a class="navbar-brand" href="/carServices/findByLicensePlate/">Find Car Service By License Plate</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light" >
                            <a class="navbar-brand" href="/carServices/findByEmployee/">Find Car Service By Employee</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light" >
                            <a class="navbar-brand" href="/carServices/findByClient">Find By Clients</a>
                        </nav>
                    </div>
                </li>

                <li class="nav-fill" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/carServices/summary">Summary</a>
                </li>
                <li class="nav-fill">

                <li class="nav-fill">
                    <a class="nav-link" data-fancybox data-animation-duration="700" data-src="#Person"
                       href="javascript:;">Persons</a>

                    <div style="display: none;" id="Person" class="animated-modal">
                        <h2>Select Option for Person Entity!</h2>
                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/persons">List Persons</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/persons/createPerson">Add Person</a>
                        </nav>
                    </div>
                </li>

                <li class="nav-fill">
                    <a class="nav-link" data-fancybox data-animation-duration="700" data-src="#Garage"
                       href="javascript:;">Garages</a>

                    <div style="display: none;" id="Garage" class="animated-modal">
                        <h2>Select Option for Garage Entity!</h2>
                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/garages">List Garages</a>
                        </nav>

                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/garages/createGarage">Add Garage</a>
                        </nav>
                    </div>
                </li>

            </ul>
            <div class="navbar-nav ml-auto">
                Hello,
                <span sec:authentication="name"></span>
                <a class="btn" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<footer page-footer font-small>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
            integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="/js/main.js" th:src="@{/js/main.js}"></script>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Car Service</a>
    </div>
</footer>

</html>
