<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Cars Being Worked on:</h4>
<div class="col-6">
    <h3 th:unless="${carServices} and ${carServices.size()}">There are no cars that are being worked on!</h3>
    <table th:if="${carServices.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Garage</th>
        <th>Employee</th>
        <th>Car</th>
        <th>Car's Owner</th>
        <th>Service</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="service : ${carServices}">
            <td th:text="${service.serviceId}"></td>
            <td th:text="${service.garage.name}"></td>
            <td th:text="${service.employee.firstName} + ' ' + ${service.employee.lastName}"></td>
            <td th:text="${service.car.licensePlate} + ' : ' + ${service.car.model.carBrand.brandName} + ' ' + ${service.car.model.carModel}"></td>
            <td th:text="${service.client.firstName} + ' ' + ${service.client.lastName}"></td>
            <td th:text="${service.carPart.partName}"></td>
<!--            <td th:text="${school.name}"></td>-->
            <td><a class="btn btn-info" th:href="@{'/carServices/editCarService/'+${service.serviceId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/carServices/delete/'+${service.serviceId}}">Delete</a></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>