<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<h4>Edit Existing Car Service</h4>
<div class="col-6">
    <form action="#" th:action="@{{id}(id=${id})}" th:object="${carService}" method="post">

        <div class="form-group">
            <label for="garage">Garage</label>
            <select class="form-control" th:field="${carService.garage}" id="garage">
                <option value="" th:text="${carService.garage.UIC} + ' ' + ${carService.garage.name}"></option>
                <option th:each="garage : ${garages}" th:value="${garage.UIC}"
                        th:text="${garage.UIC} + ' -> ' + ${garage.name} "></option>
            </select>
        </div>

        <div class="form-group">
            <label for="employee">Employee</label>
            <select class="form-control" th:field="${carService.employee}" id="employee">
                <option value=""
                        th:text="${carService.employee.firstName} + ' ' + ${carService.employee.lastName}"></option>
                <option th:each="employee : ${employees}" th:value="${employee.employee.PID}"
                        th:text="${employee.employee.firstName} + ' ' + ${employee.employee.lastName} + ' -> ' + ${employee.garage.UIC}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="client">Client</label>
            <select class="form-control" th:field="${carService.client}" id="client">
                <option value=""
                        th:text="${carService.client.firstName} + ' ' + ${carService.client.lastName}"></option>
                <option th:each="client : ${clients}" th:value="${client.PID}"
                        th:text="${client.firstName} + ' ' + ${client.lastName}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="car">Car</label>
            <select class="form-control" th:if="${cars.size()>0}" th:field="${carService.car}" id="car">
                <option value=""
                        th:text="${carService.car.licensePlate} + ' : ' + ${carService.car.model.carBrand.brandName} + ' ' + ${carService.car.model.carModel} + ' -> ' + ${carService.car.owner.firstName} + ' ' + ${carService.car.owner.lastName} "></option>
                <option th:each="car : ${cars}" th:value="${car.licensePlate}"
                        th:text="${car.licensePlate} + ' : ' + ${car.model.carBrand.brandName} + ' ' + ${car.model.carModel} + ' -> ' + ${car.owner.firstName} + ' ' + ${car.owner.lastName} "></option>
            </select>
        </div>

        <div class="form-group">
            <label for="car">Work Needed</label>
            <select class="form-control" th:if="${qualifications.size()>0}" th:field="${carService.qualification}"
                    id="qualification">
                <option value="" th:text="${carService.qualification.qualificationName}"></option>
                <option th:each="qualification : ${qualifications}" th:value="${qualification.qualificationName}"
                        th:text="${qualification.qualificationName}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="dateOfService">Date Of Service</label>
            <input class="form-control" type="datetime-local" th:field="${carService.dateOfService}" id="dateOfService">
            <span class="text-danger" th:if="${#fields.hasErrors('dateOfService')}"
                  th:errors="${carService.dateOfService}">Service Date Error</span>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="text" th:field="${carService.price}" id="price">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}"
                  th:errors="${carService.price}">Price Error</span>
        </div>

        <button type="submit" class="btn btn-primary">Update Car Service</button>


    </form>
</div>

</body>
</html>